# secret key 
JWT_SECRET=your_secret_key_here

# AWS CONFIG
AWS_REGION=your_aws_region
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key

# ECS CONFIG
ECS_CLUSTER_ARN=your_ecs_cluster_arn
ECS_TASK_DEFINITION=your_ecs_task_definition_arn
ECS_SUBNET_1=your_subnet_1
ECS_SUBNET_2=your_subnet_2
ECS_SUBNET_3=your_subnet_3
ECS_SECURITY_GROUP=your_security_group_id

# S3 CONFIG
S3_BUCKET=your_s3_bucket_name

# SERVER PORTS
API_PORT=9000
PROXY_PORT=8000

# kafka config
KAFKA_BROKER=your_kafka_broker_url
KAFKA_USERNAME=your_kafka_username
KAFKA_PASSWORD=your_kafka_password

# clickhouse config
CLICKHOUSE_URL=your_clickhouse_url
